/*
Light: font-weight: 300;
Regular: font-weight: 400;
Medium: font-weight: 500;
Bold: font-weight: 700;
*/

@font-face {
  font-family: "Neue Montreal";
  src: url("NeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("NeueMontreal-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("NeueMontreal-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("NeueMontreal-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("NeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("NeueMontreal-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("NeueMontreal-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
