.filters-sect {
  padding-top: 37px;
  padding-bottom: 20px;
}
.filters-title {
  margin-bottom: 8px;
  color: rgba(1, 1, 1, 0.3);
  font-family: "Neue Montreal";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}
.field-label {
  display: block;
  position: relative;
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}
.field {
  appearance: none;
  width: 100%;
  padding: 14px 20px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid rgba(1, 1, 1, 0.3);
  outline: none;
}
.field::placeholder {
  color: var(--black);
}
.centreted-svg {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  cursor: inherit;
  width: 20px;
  height: 20px;
}
.input-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.input-icon {
  pointer-events: none;
  cursor: inherit;
  width: 100%;
  height: 100%;
}
.stroke-icon {
  stroke: black;
  fill: transparent;
}
.categories-list {
  position: absolute;
  transform: translateY(100%);
  bottom: -8px;
  width: 100%;
  padding: 14px 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4px 11.212px 0px rgba(0, 0, 0, 0.04),
    0px 20px 69px 0px rgba(0, 0, 0, 0.07);
}
.categories-item {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}
.categories-item:not(:last-child) {
  margin-bottom: 8px;
}
.categories-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .field-label:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  .field-label {
    display: inline-block;
    width: 268px;
    margin-right: 4px;
    font-size: 18px;
    line-height: 1.33;
  }
  .categories-item {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .filters-sect {
    padding-bottom: 30px;
  }
}
