.filters-sect {
  padding-top: 37px;
  padding-bottom: 20px;
}
.filters-title {
  margin-bottom: 8px;
  color: rgba(1, 1, 1, 0.3);
  font-family: "Neue Montreal";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}
.field-label {
  display: block;
  position: relative;
}
.field-label:not(:last-child) {
  margin-bottom: 12px;
}
.field {
  appearance: none;
  width: 100%;
  padding: 14px 20px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid rgba(1, 1, 1, 0.3);
  outline: none;
}
.last-field {
  background-color: white;
  border: none;
}
.field::placeholder {
  color: #010101;
}
.input-icon {
  pointer-events: none;
  cursor: inherit;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.stroke-icon {
  stroke: black;
  fill: transparent;
}
