/*---------------- FOOTER ----------------*/
footer {
    background-color: var(--green);

    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

/* Social links panel */
.social-links-panel {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
   .social-links-panel {
    margin-bottom: 0;
    margin-right: 78px;
   }
}

@media only screen and (min-width: 1440px) {
   .social-links-panel {
    margin-right: 149px;
   }
}

.footer-logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 20px;

    color: var(--grey);

    font-family: 'Quincy', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.11;
    letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
    .footer-logo {
        font-size: 24px;
        line-height: 1;
    }
}

.footer-logo-icon {
    fill: var(--green);

    background-color: var(--grey);
    border-radius: 50%;
    padding: 6px;
}

.social-media-list{
    display: flex;
    column-gap: 12px;
}

.social-media-item {
    width: 40px;
    height: 40px;

    border-radius: 10px;
    border: 1px solid var(--grey-30);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color var(--transition-options);
}

.social-media-item:hover {
    background-color: var(--grey-20);
}

.social-media-link {
    display: block;
    width: 40px;
    height: 40px;
    padding: 8px;

    border-radius: 10px;

    cursor: pointer;
}

.social-media-item-icon {
    fill: var(--grey);
}
/*End of Social links panel*/

@media only screen and (max-width: 374px) {
    .footer-middle-containers-wrapper {
        width: 100%;
    }
}

.footer-middle-containers-wrapper {
    display: flex;
    flex-direction: column;

    margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
   .footer-middle-containers-wrapper {
    margin-bottom: 120px;
   }
}

@media only screen and (min-width: 1440px) {
    .footer-middle-containers-wrapper {
        flex-direction: row;

        margin-bottom: 128px;
    }
}

/* Slogan panel */
.slogan-panel {
    margin-bottom: 80px;

    max-width: 335px;
}

@media only screen and (min-width: 768px) {
   .slogan-panel {
    margin-bottom: 64px;

    max-width: 429px;
   }
}

@media only screen and (min-width: 1440px) {
   .slogan-panel {
    margin-bottom: 0px;
    margin-right: 148px;

    max-width: 410px;
   }
}

.main-point-text {
    color: var(--grey);

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;

    margin-bottom: 14px;
    display: block;
}

@media only screen and (min-width: 768px) {
   .main-point-text {
    font-size: 40px;
    line-height: 1.1;
   }
}

.slogan-text {
    color: var(--grey-70);
    
    font-size: 14px;
    line-height: 1.29;
}

@media only screen and (min-width: 768px) {
    .slogan-text {
        font-size: 18px;
        line-height: 1.33;
    }
}
/*End of Slogan panel*/

/* Subscribe panel */
.subscribe-form {
    display: flex;
    flex-direction: column;
    row-gap: 14px;

    font-size: 14px;
}

@media only screen and (min-width: 768px) {
   .subscribe-form {
    row-gap: 20px;
    max-width: 336px;
    font-size: 16px;
   }
}

@media only screen and (min-width: 1440px) {
    .subscribe-form {
        width: 336px;
    }
}

.form-label {
    color: var(--grey);

    font-size: 14px;
    line-height: 1.29;

    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
   .form-label {
    font-size: 18px;
    line-height: 1.33;
   }
}

.subscribe-form-email-field {
    border-radius: 30px;
    border: 1px solid var(--grey);

    padding: 12px 18px;

    background-color: transparent;

    color: var(--grey);

    line-height: 1.29;
}

@media only screen and (min-width: 768px) {
   .subscribe-form-email-field {
    line-height: 1.5;
   }
}

.subscribe-form-email-field::placeholder {
    color: var(--grey-60);
}

.send-button {
    border-radius: 30px;
    border: none;

    background-color: var(--grey);
    color: var(--black);

    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;

    line-height: 1.29;
    font-weight: 500;

    cursor: pointer;

    transition: color var(--transition-options);
}

@media only screen and (min-width: 375px) {
    .send-button {
        min-width: 335px;
    }
}

@media only screen and (min-width: 768px) {
    .send-button {
        line-height: 1.5;
    }
}

.send-button:hover {
    color: var(--green);
}
/*End of Subscribe panel*/

/* Privacy policy panel */
.privacy-policy-and-rights-panel {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    width: 100%;

    color: var(--grey);

    font-size: 14px;
    line-height: 1.29;
}

@media only screen and (min-width: 768px) {
   .privacy-policy-and-rights-panel {
    flex-direction: row;
    justify-content: space-between;
   }
}

.privacy-policy-links-container {
    display: flex;
    column-gap: 8px;
}

.privacy-policy-link {
    color: var(--grey);

    font-size: 14px;
    line-height: 1.29;
}

.terms-of-service-link {
    color: var(--grey);
    
    font-size: 14px;
    line-height: 1.29;
}
/*End of Privacy policy panel*/

/*---------------- End of FOOTER ----------------*/