.products-sect {
  padding-top: 20px;
  padding-bottom: 40px;
}
.products-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.products-item {
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}
.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 178px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #e8e8e2;
}
.prodact-img {
  width: 140px;
  height: 140px;
}
.product-title {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
  margin-bottom: 10px;
}
.properties-and-price-continer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88px;
}
.product-properties-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.product-properties-item {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16; /* 116.667% */
}
.property-value {
  color: #010101;
}
.price-and-buy-btn {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.price {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
}
.cart-btn.product {
  width: 34px;
  height: 34px;
}
.btn-svg.product {
  padding: 8px;
}
.nothing-found {
  padding-top: 80px;
  padding-bottom: 140px;
  text-align: center;
}
.nothing-found-title {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 14px;
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
}
.nothing-found-description {
  max-width: 280px;
  margin: 0 auto;
  color: rgba(1, 1, 1, 0.7);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}
.pages-panel {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.turn-page-buttons {
  display: flex;
  gap: 4px;
}
.turn-page-btn {
  width: 40px;
  height: 40px;
  background-color: #fafafa;
  fill: transparent;
  stroke: #A3A3A3;
}
.turn-page-btn.disabled {
  stroke: #A3A3A34D;
}
.pages-list {
  display: flex;
  gap: 4px;
}
.number-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #A3A3A3;
}
.number-btn.current {
  background-color: #6D8434;
  color: #E8E8E2;
}

.display-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .products-list {
    gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .products-item {
    width: calc((100% - 32px) / 2);
  }
  .product-title,
  .price {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1440px) {
  .products-sect {
    padding-top: 30px;
  }
  .products-list {
    width: 925px;
    gap: 30px 20px;
  }
  .products-item {
    width: calc((100% - 40px) / 3);
  }
}
