<main>
  <section class="cart-sect container">
    <div class="cart-items-quantity">
      <span class="circle-btn cart-btn">
        <svg class="btn-svg cart-btn-svg cart">
          <use href="/images/svg/icons.svg#icon-shopping-cart"></use>
        </svg>
      </span>
      <h1 class="cart-page-title" id="cart-quantity-title">
        cart (0)
      </h1>
    </div>

    <div class="delete-all">
      <button type="button" class="delete-all-btn" id="delete-all-btn">
        Delete all

        <svg class="clos-svg">
          <use href="/images/svg/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <ul class="" id="cart-items-list"></ul>
  </section>
</main>
