<section class="container goods">
  <p class="filters-title">Filters:</p>
  <form>
    <label class="field-label">
      <input class="field field-1-2" type="text" />
      <span class="own-placeholder">Search for anything</span>
    </label>
    <label class="field-label">
      <select class="field field-1-2" id="fruitSelect" name="fruit">
        <option value="apple">Apple</option>
        <option value="banana">Banana</option>
        <option value="orange">Orange</option>
        <option value="grape">Grape</option>
      </select>
      <span class="own-placeholder">Categories</span>
    </label>
    <label class="field-label">
      <select class="field last-field" id="fruitSelect" name="fruit">
        <option value="apple">Apple</option>
        <option value="banana">Banana</option>
        <option value="orange">Orange</option>
        <option value="grape">Grape</option>
      </select>
      <span class="own-placeholder">A to Z</span>
    </label>
  </form>
  <h2>asdas</h2>
  <h2>asdas</h2>
  <h2>asdas</h2>
  <h2>asdas</h2>
  <h2>asdas</h2>
</section>
