<!--Footer-->
<footer>
  <div class="container footer-container">
    <div class="social-links-panel">
      <span class="footer-logo">
        <svg class="footer-logo-icon" width="28" height="28">
          <use href="../public/images/svg/icons.svg#icon-logo"></use>
        </svg>
        <!--Logo text ↓-->
        <!-- Food Boutique -->
        <svg class="footer-logo-text-icon" width="118" height="20">
          <use href="../public/images/svg/icons.svg#icon-logo-text"></use>
        </svg>
      </span>

      <ul class="social-media-list">
        <li class="social-media-item">
          <svg class="social-media-item-icon" width="24" height="24">
            <use href="../public/images/svg/icons.svg#icon-facebook"></use>
          </svg>
        </li>
        <li class="social-media-item">
          <svg class="social-media-item-icon" width="24" height="24">
            <use href="../public/images/svg/icons.svg#icon-instagram"></use>
          </svg>
        </li>
        <li class="social-media-item">
          <svg class="social-media-item-icon" width="24" height="24">
            <use href="../public/images/svg/icons.svg#icon-youtube"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="slogan-panel">
      <span class="main-point-text"
        >Discover the Variety of Flavors and Quality</span
      >
      <p>
        An online store where you will find fresh, natural and delicious
        products for a healthy life and unforgettable gastronomic adventures.
      </p>
    </div>
    <div class="subscribe-to-new-products-panel">
      <p class="form-label">Subscribe and learn about new products!</p>
      <form class="subscribe-form">
        <input class="form-field" type="email" placeholder="Email" />
        <button class="send-button" type="submit">Send</button>
      </form>
    </div>
    <div class="privacy-policy-and-rights-panel">
      <span class="rights-label">Food Boutique. All rights reserved.</span>
      <div class="privacy-policy-label">
        <span>Privacy Policy</span>
        <span>/</span>
        <span>Terms of Service</span>
      </div>
    </div>
  </div>
</footer>
