<header class="container page-header">
  <a class="logo" href="./index.html">
    <svg class="logo-icon">
      <use href="/images/svg/icons.svg#icon-logo"></use>
    </svg>
    Food Bootique
  </a>

  <nav class="nav">
    <a class="home-link" href="./index.html">Home</a>
    <a class="cart-logo" href="./cart.html">
      <span class="circle-btn cart-btn">
        <svg class="btn-svg cart-btn-svg">
          <use href="/images/svg/icons.svg#icon-shopping-cart"></use>
        </svg>
      </span>
      <span class="cart-logo-span" id="cart-quantity">CART (2)</span>
    </a>
  </nav>
</header>
