<section class="container hero-sect">
  <h1 class="hero-title">
    Welcome to the <span class="accent">Food</span> Boutique!
  </h1>
  <p class="hero-desc">
    With Food Boutique, you're not just subscribing to food, you're signing up
    for a fresher, fitter, and happier you.
  </p>
  <div class="hero-img-container">
    <picture>
      <source
        srcset="/images/jpg/hero-desctop.jpg"
        media="(min-width: 1440px)"
      />
      <source
        srcset="/images/jpg/hero-img-tablet.jpg"
        media="(min-width: 768px)"
      />

      <img
        class="hero-img"
        src="/images/jpg/hero-img.jpg"
        alt="a box full of vegetables"
      />
    </picture>

    <img
      class="organic-img"
      src="/images/png/organic.png"
      alt="organic food logo"
    />
  </div>
</section>
