<section class="products-sect">
  <h2 class="visually-hidden">Products List</h2>
  <ul class="products-list" id="products"></ul>
  <div class="nothing-found display-none" id="nothing-found">
    <p class="nothing-found-title">
      Nothing was found for the selected <span class="accent">filters...</span>
    </p>
    <p class="nothing-found-description">
      Try adjusting your search parameters or browse our range by other criteria
      to find the perfect product for you.
    </p>
  </div>
  <div class="pages-panel" id="pages-panel">
    <div class="turn-page-buttons">
      <button type="button" class="turn-page-btn circle-btn" id="to-the-start">
        <svg class="btn-svg product">
          <use href="/images/svg/icons.svg#icon-double-previous"></use>
        </svg>
      </button>
      <button type="button" class="turn-page-btn circle-btn" id="previous">
        <svg class="btn-svg product">
          <use href="/images/svg/icons.svg#icon-previous"></use>
        </svg>
      </button>
    </div>
    <ul class="pages-list" id="pages-list"></ul>
    <div class="turn-page-buttons">
      <button type="button" class="turn-page-btn circle-btn" id="next">
        <svg class="btn-svg product">
          <use href="/images/svg/icons.svg#icon-next"></use>
        </svg>
      </button>
      <button type="button" class="turn-page-btn circle-btn" id="to-the-end">
        <svg class="btn-svg product">
          <use href="/images/svg/icons.svg#icon-double-next"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
