<section class="container products-sect">
  <h2 class="visually-hidden">Products List</h2>
  <ul class="products-list" id="products"></ul>
  <button type="button" id="previous">Previous</button>
  <button type="button" id="next">Next</button>
  <div class="nothing-found display-none" id="nothing-found">
    <p class="nothing-found-title">
      Nothing was found for the selected <span class="accent">filters...</span>
    </p>
    <p class="nothing-found-description">
      Try adjusting your search parameters or browse our range by other criteria
      to find the perfect product for you.
    </p>
  </div>
</section>
