.cart-sect {
  padding-top: 54px;
  padding-bottom: 80px;
}
.cart-items-quantity {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 24px;
}
.cart-btn-svg.cart {
  padding: 10px;
}
.cart-page-title {
  color: var(--black);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16; /* 116.667% */
  text-transform: uppercase;
}
.delete-all {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.delete-all-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px; /* 128.571 */
}
.clos-svg {
  width: 24px;
  height: 24px;
}
.cart-products-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px 0;
  gap: 20px;
}
.cart-products-item:not(:last-child) {
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}
.cart-product-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: var(--white);
  border-radius: 10px;
}
.cart-product-img {
  width: 64px;
  height: 64px;
}
.delete-from-cart-btn {
  line-height: 0;
  position: absolute;
  top: 22px;
  right: 7px;
  background-color: transparent;
  padding: 0;
  border: none;
}
.delete-from-cart-svg {
  width: 18px;
  height: 18px;
}
.your-order-title {
  margin-top: 44px;
  margin-bottom: 40px;
}
.total-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 60px;
  padding: 14px 18px;
  background-color: rgba(109, 132, 52, 0.05);
  border-radius: 8px;
  margin-bottom: 30px;
}
.total-title {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}
.sum {
  color: rgba(1, 1, 1, 0.2);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}
.sum-span {
  color: var(--black);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px; /* 116.667% */
}

@media screen and (min-width: 768px) {
  .cart-page-title {
    font-size: 32px;
  }
  .total-container {
    max-width: 590px;
  }
}

.cart-sect {
  display: flex;
}

@media only screen and (min-width: 1440px) {
  .cart-sect {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1439px) {
  .cart-sect {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1440px) {
  .cart-items-panel-container {
    margin-right: 101px;
  }
}
.checkout-panel-container {
  
}

.checkout-form {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

@media only screen and (min-width: 768px) {
  .checkout-form {
    flex-direction: row;
    column-gap: 16px;

    max-width: 590px;
  }
}

.checkout-form .mail-field-container {
  position: relative;

  border-radius: 30px;
  background-color: transparent;

  font-size: 14px;
  line-height: 1.29;
}

@media only screen and (min-width: 768px) {
  .checkout-form .mail-field-container {
    max-width: 359px;
    width: 359px;

    font-size: 18px;
    line-height: 1.33;
  }
}

.checkout-form .email-label {
  position: absolute;
  top: 12px;
  left: 20px;

  color: var(--black-50);
}

@media only screen and (min-width: 768px) {
  .checkout-form .email-label {
    top: 15px;
  }
}

.checkout-form .mail-field {
  padding: 12px 20px 12px 56px;

  background-color: inherit;

  width: 100%;
  border-radius: inherit;

  border: 1px solid var(--black-30);

  color: var(--black);

  font-size: inherit;
  line-height: inherit;
}

@media only screen and (min-width: 768px) {
  .checkout-form .mail-field {
    padding: 15px 20px 15px 63px;
  }
}

.checkout-form .mail-field::placeholder {
  color: var(--black);
}

.checkout-form .checkout-button {
  background-color: var(--green);

  border-radius: 30px;
  border: none;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;

  padding: 12px 0;

  color: var(--grey);
}

@media only screen and (min-width: 768px) {
  .checkout-form .checkout-button {
    max-width: 215px;
    width: 215px;

    font-size: 20px;
    line-height: 1.2;

    padding: 15px 0;
  }
}