@import url("/fonts/neue-montreal/fonts.css");
@import url("./partials/common.css");
@import url("./partials/header.css");
@import url("./partials/hero.css");
@import url("./partials/filters.css");
@import url("./partials/products-list.css");
@import url("./partials/popular-products.css");
@import url("./partials/discount-products.css");
@import url("./partials/footer.css");